header {
    padding: 0 70px;
    height: 90px;

    &>h2 {
        background-image: url('./logo.png');
        background-repeat: no-repeat;
        background-size: 70px auto;
        line-height: 90px;
        background-position: 10px center;
        padding-left: 100px;
        display: inline-block;
    }

    &>.links {
        float: right;
        height: 30px;
        line-height: 30px;
        margin-top: 30px;
        margin-right: 50px;

        &>a {
            position: relative;
            padding-right: 40px;
            color: #182136;
            font-weight: 800;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

div {
    &.tips {
        padding: 0 70px;
        background-color: #015699;
        line-height: 60px;
        color: white;
        font-size: 22px;
    }

    &.content {
        padding: 70px;
        padding-top: 0;
        background-color: black;
        color: rgb(185, 202, 219);
        min-height: calc(100vh - 150px);
    }
}

footer {
    height: 97px;
    text-align: center;
    background-color: #015699;
    border-top: 1px solid #015699;
    line-height: 2em;
    padding: 20px 0;
    font-size: 14px;
    color: rgb(185, 202, 219);

    a {
        padding: 0 5px;
        color: rgb(220, 228, 230);
        text-decoration: underline;
    }
}
