body {
    font-family: serif;
    min-width: 1000px;
    background-color: rgb(185, 202, 219);
}

.link {
    font-weight: 800;
    padding: 0 5px;
    border: 1px solid rgb(185, 202, 219);
    color: rgb(243, 242, 236);

    &:hover {
        text-decoration: underline;
    }
}

.doc-view {
    color: rgb(185, 202, 219);

    h2 {
        text-align: center;
        &>div{
            font-size: 0.6em;
            margin-top: 10px;
        }
    }

    p {
        color: rgb(185, 202, 219);
    }
}
